* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

ul,
ol {
    list-style-type: none;
}

p {
    font-size: 13px;
    color: #555555;
    line-height: 24px;
}

body {
    font-family: 'Open Sans', sans-serif;
}

h2 {
    font-size: 24px;
    color: #353535;
    font-family: 'Oswald', sans-serif;
    font-weight: 500;
}

h3 {
    font-size: 16px;
    color: #353535;
    font-family: 'Oswald', sans-serif;
    font-weight: 500;
}

.container {
    width: 960px;
    margin: 0 auto;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.valign_center {
    align-items: center;
}

.align_center {
    justify-content: center;
}

.align_space_between {
    justify-content: space-between;
}

.heading_part {
    text-align: center;
}

.heading_part h2 {
    position: relative;
    margin-top: 60px;
    display: inline-block;
}

.heading_part h2::after {
    content: '';
    position: absolute;
    width: 60px;
    height: 1px;
    background: url(image3/headingbar.png);
    left: 0;
    bottom: 0;
}

/* header part css */
#top_header {
    background: #0872b9;
}

.header_left p {
    color: #e7e7e7;
    font-size: 14px;
    padding: 5px 0;
}

.header_icon a {
    color: #e7e7e7;
    font-size: 14px;
    padding-left: 24px;
}

.header_icon a:hover {
    color: #353535;
}

/* Menu part css */
.logo {
    padding: 16px 0;
}

.menu ul li {
    display: inline-block;
}

.menu ul li a {
    color: #353535;
    font-family: 'OpenSans' sans-serif;
    font-size: 14px;
    text-transform: capitalize;
    font-weight: 400;
    padding: 0 0 0 15px;
}

.menu ul .active a,
.menu ul li a:hover {
    color: #0872b9;
}

/* Banner part css */
.banner_items {
    height: 400px;
    background-position: center !important;
    background-size: cover !important;
    position: relative;
    z-index: 1;
}

.banner_items::after {
    content: '/';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgb(0, 0, 0, .6);
    z-index: -1;
}

.banner_content {
    max-width: 460px;
    margin-left: auto;
    text-align: right;
}

#banner .container {
    height: 100%;
    display: flex;
    align-items: center;
}

.banner_content h1 {
    font-family: 'Oswald', sans-serif;
    font-size: 40px;
    font-weight: 700;
    text-transform: uppercase;
    color: #ffffff;
}

.banner_content h2 {
    font-family: 'Oswald', sans-serif;
    font-size: 30px;
    font-weight: 400;
    text-transform: uppercase;
    color: #ffffff;
}

.banner_content p {
    font-family: 'Open Sans', sans-serif;
    font-size: 13px;
    font-weight: 400;
    color: #ffffff;
    margin-bottom: 28px;
}

.hireus_btn {
    /* background: #0872b9;
    padding: 6px 21px;
    border: none;
    font-family: 'Oswald', sans-serif;
    font-weight: 500;
    font-size: 14px;
    color: #ffffff;
    text-transform: uppercase; */
    margin-right: 18px;
    /* cursor: pointer; */
} 

.contact_btn,.hireus_btn {
    background: transparent;
    padding: 4px 21px;
    border: 1px solid #ffffff;
    font-family: 'Oswald', sans-serif;
    font-weight: 500;
    font-size: 14px;
    color: #ffffff;
    text-transform: uppercase;
    cursor: pointer;
}

.cmn:hover{
    background: #0872b9;
    border: none;
}

/* about part css */
#about_part .heading_part {
    margin-bottom: 40px;
}

.img_part {
    width: 40%;
}

.img_part img {
    width: 100%;
}

.content_part {
    width: 60%;
    padding-left: 20px;
}

.content_part p {
    padding-bottom: 30px;
}

/* service part css */
#services .heading_part {
    margin-bottom: 70px;
}

.service_item {
    width: 33.33%;
    text-align: center;
    padding: 0 10px;
}

.service_content {
    background: #f1f1f1;
    padding: 50px 10px 10px 10px;
    position: relative;
}

.service_icon {
    width: 81px;
    height: 81px;
    border-radius: 50%;
    border: 1px solid #ffffff;
    background: #ffffff;
    position: absolute;
    left: 50%;
    top: 0;
    transform: translate(-50%, -50%);
    z-index: 1;
}

.service_icon img {
    margin-top: 20px;
    display: inline-block;
}

.service_icon::after {
    content: ' ';
    position: absolute;
    height: 74px;
    width: 74px;
    border: 1px solid #e1e1e1;
    border-radius: 50%;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
}

.service_icon::before {
    content: ' ';
    position: absolute;
    height: 69px;
    width: 69px;
    border-radius: 50%;
    left: 50%;
    top: 50%;
    background: #f1f1f1;
    transform: translate(-50%, -50%);
    z-index: -1;
}

.service_content:hover {
    box-shadow: 0 0 10px rgba(70, 70, 70, 0.4);
}

.service_icon:hover::after {
    border-color: #5ec6f4;
}

.service_icon:hover::before {
    background-color: #5ec6f4;
}

/* Portfolio part css */
#portfolio {
    width: 100%;
}

.img_item {
    width: 25%;
    padding: 29px 10px 0 10px;
}

.portfolio_img{
    position: relative;
    margin-bottom: 15px;
}
.portfolio_img img {
    width: 100%;
}

.portfolio_img .overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgb(0, 0, 0, .7);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .5s;
    transform: scale(0);
}
.portfolio_img .overlay a {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-color: #5bc5f4;
    display: inline-block;
    text-align: center;
    line-height: 50px;
    color: #ffff;
}
.portfolio_img:hover .overlay {
    transform: scale(1);
}

/* Our team css */
.team_item{
    width: 25%;
    padding: 30px 10px 0 10px;
    text-align: center;
}
.team_image img{
    width: 100%;
    display: block;
}

.team_image{
    position: relative;
    overflow: hidden;
}
.team_image .overlay{
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    width: 0;
    background: rgb(0, 0, 0, .7);
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    transition: 0.5s;
    opacity: 0;
}
.team_image:hover .overlay{
    width: 82px;
    opacity: 1;
}
.team_image .overlay a{
    height: 42px;
    width: 42px;
    border-radius: 50%;
    display: block;
    text-align: center;
    line-height: 42px;
    color: #ffff; 
    border: 1px solid #ddd;
    margin: 14px 0;
}
.team_image .overlay a:hover{
    background-color: #5bc5f4;
}
.team_content p{
    font-family: 'Oswald', sans-serif;
}

/* Testimonial part css */
.testimonial_item{
    width: 50%;
    padding: 29px 10px 0 10px;
}

.testimonial_img{
    height: 80px;
    width: 80px;
    border-radius: 50%;
    margin: 0 auto;
}

.testimonial_content{
    text-align: center;
    padding: 0 15px;
    background-color: #f1f1f1;
    margin-top: 36px;
    position: relative;
}
.testimonial_content::after{
    content: '';
    position: absolute;
    border-left: 20px solid transparent;
    border-top: 12px solid transparent;
    border-bottom: 18px solid #f1f1f1;
    border-right: 20px solid transparent;
    left: 50%;
    top: -30px;
    transform: translateX(-50%);
}

.testimonial_content h3{
    padding-top: 20px;
}
.testimonial_content p{
    font-family: 'Oswald', sans-serif;
    font-weight: 400;
    padding-bottom: 5px;
}
.testimonial_content a i{
    width: 9px;
    font-size: 11px;
    color: #5bc5f4;
}

/* Footer part css */
#footer{
    width: 100%;
    background-color: #353535;
    margin-top: 60px;
    padding-top: 20px;
}
.footer_about{
    width: 25%;
}
.footer_logo{
    width: 100%;
    padding-bottom: 20px;
}
.footer_content p{
    color: #f1f1f1;
}
.footer_contact{
    width: 25%;
}
.footer_heading{
    width: 100%;
}
.footer_heading h3{
    color: #f1f1f1;
}
.footer_content_item{
    padding-top: 9px;
}
.footer_icon{
    padding-top: 7px;
}
.footer_icon a{
    font-size: 13px;
    height: 34px;
    width: 34px;
    border-radius: 50%;
    display: block;
    text-align: center;
    line-height: 34px;
    color: #ffff;
    background-color: #5bc5f4;
}
.footer_heading{
    margin-bottom: 32px;
}
.footer_contentpart{
    padding-left: 10px;
}
.footer_contentpart p,a{
    color: #f1f1f1;
}
.footer_contentpart a:hover{
    color: #5bc5f4;
}

.footer_link{
    width: 15%;
}
.footer_photos{
    width: 35%;
}

.footerlink_content{
    width: 50%;
}
.footerlink_content p,a{
    color: #f1f1f1;
    padding-bottom: 12px;
}
.footerlink_content a:hover{
    color: #5bc5f4;
}
.footer_photos .footer_heading{
    margin-bottom: 39px;
}
.gallery_item{
    width: 33.33%;
    padding-right: 14px;
    margin-bottom: 9px;
}
.gallery_item img{
    width: 100%;
}
.footer_about,.footer_contact,.footer_link,.footer_photos{
    padding-left: 10px;
}

/* footer bottom css */
#footerbtm{
    text-align: center;
    background-color: #555555;
}
.inner{
    text-align: center;
    width: auto;
    margin: auto;
}
.child{
    display: inline-block;
}
.child p{
    color: #f1f1f1;
    line-height: 44px;
}
.child h3{
    color: #5bc5f4;
    font-size: 13px;
}
/* The End */